{% load static %}

<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<head>
    <title>About</title>

    {% include "dependencies/common.html" %}
    {% include "dependencies/jquery.html" %}
    {% include "dependencies/bootstrap_dependencies.html" %}

</head>
<body>

{% include "nav.html" %}

<div class="container container-fluid">

    <div class="row"  style="margin-top: 25px">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">About</h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Legal</h5>
                    <p class="card-text">This web application is hosted in Germany, and has an imprint dictating
                        disclaimers, etc.</p>
                    <a href="{% url 'legal' %}" class="btn btn-primary">Imprint</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Reference</h5>
                    <div class="card-text">
                        <p>This web application is maintained by <a
                                href="https://www.scai.fraunhofer.de/en/about-us/staff/domingo-fernandez.html">
                            Daniel Domingo-Fernández</a> at Fraunhofer SCAI with support from the <a
                                href="http://www.imi.europa.eu/">IMI</a> project <a
                                href="http://www.aetionomy.eu/en/vision.html">AETIONOMY</a>. If you want to cite
                            this work, please use the following reference:
                        </p>
                        <p><b>TODO</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}

</body>
</html>

