{% load staticfiles %}

<footer>
    <a href="https://www.scai.fraunhofer.de/en/business-research-areas/bioinformatics.html"><img
            src="{% static 'predictme/img/fraunhofer_logo.png' %}"
            height="40px"
            style="padding-top:10px;padding-bottom:5px;margin-right: 40px"></a>

    <a href="http://www.aetionomy.eu/en/vision.html"><img
            src="{% static 'predictme/img/logo_aetionomy.png' %}"
            height="40px"
            style="padding-top:10px;padding-bottom:5px;margin-right: 40px"></a>

    <a href="http://www.imi.europa.eu/"><img
            src="{% static 'predictme/img/imi_log.jpg' %}"
            height="40px"
            style="padding-top:10px;padding-bottom:5px;"></a>

</footer>