{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PredictMe</title>

    {% include "dependencies/common.html" %}
    {% include "dependencies/jquery.html" %}
    {% include "dependencies/bootstrap_dependencies.html" %}

</head>
<body>
{% include "nav.html" %}


<div class="container container-fluid" style="margin-top: 50px">
    <div class="card" style="margin-bottom: 25px">
        <div class="card-header">

        </div>
        <div class="card-body">
            <div class="card-text">
                <p>
                </p>
                <div class="text-center" style="margin-top: 20px; margin-bottom: 20px">
                    <a href="" class="btn btn-primary btn-lg">Explore</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
        </div>
        <div class="card-body">
            <div class="card-text">
                <p>
                </p>
                <div class="text-center" style="margin-top: 20px; margin-bottom: 20px">
                    <a href="" class="btn btn-primary btn-lg">Explore</a>
                </div>
            </div>
        </div>
    </div>

    {% include "footer.html" %}

</div>


</body>
</html>